@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background-color: #36393E;
}


.fm-main, .Screenshots {
    color: #ED4245;
    font-family: 'Roboto', sans-serif;

}

